.custom-search-table {
  box-sizing: border-box;
  padding: 10px;

  :global(.search-form .el-form-item) {
    min-width: 30%;
    max-width: 30%;
    margin-right: 20px;
  }

  :global(.search-form .el-form-item__label) {
    max-width: 200px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  .tool-bar {
    padding: 15px 0px;
    box-sizing: border-box;
  }

  .pagination {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
  }
}
